@{
    ViewBag.Title = "save";
}
<html>
<head>
    <meta charset="utf-8" />
    <title>Display</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>

        body {
            overflow: hidden;
            margin: 0;
            padding: 0;
        }

        #canvas {
            width: 100%;
            height: 100%;
            border: 1px solid red;
        }

        * {
            padding: 0;
            margin: 0;
        }

        .fit { /* set relative picture size */
            max-width: 100%;
            max-height: 100%;
        }

        .center {
            display: block;
            margin: auto;
        }

        .map {
            position: relative;
            top: 0;
            left: 0;
        }

        .plane {
            position: absolute;
            top: 20%;
            left: 10%;
        }
    </style>
</head>
<body background="~/export-map-share.png" class="center fit map" style="background-size:100% 100%">
    <canvas id="canvas"></canvas>
    <script> 
    var myPoints = [] 

        var IntervalTime = @Session["second"] * 1000

        myTimer = (function () {
           $.post('@Url.Action("GetAllParm")').done(function (xml) {
                var xmlDoc = $.parseXML(xml),
                $xml = $(xmlDoc),
                lon = parseFloat($xml.find("lon").text());
                lat = parseFloat($xml.find("lat").text());

                var canvas = document.getElementById("canvas");
                var con = canvas.getContext("2d");
                con.canvas.width = window.innerWidth;
                con.canvas.height = window.innerHeight;
                con.beginPath();
                var lonPoint = (lon + 180) * ($(window).width() / 360);
               var latPoint = (lat + 90) * ($(window).height() / 180);
               con.arc(lonPoint, latPoint, 3, 0, 2 * Math.PI);
               con.lineWidth = 1;
               con.lineStyle = 'blue';
               con.fillStyle = 'red';
               con.fill();
               con.stroke();
               var point = { x: lonPoint, y: latPoint }
               myPoints.push(point)
               con.moveTo(myPoints[0].x, myPoints[0].y);
               for (var i = 0; i < myPoints.length; i++){
                   con.lineTo(myPoints[i].x, myPoints[i].y);
               }
               con.strokeStyle = 'red';
               con.stroke();
             });
        });

    var a=setInterval(myTimer, IntervalTime);
    myVar = setTimeout(function () { clearInterval(a) },  @Session["time"] * 1000);
    myTimer();



    </script>
</body>
</html>
